/*
|--------------------------------------------------------------------------
| App SCSS
|--------------------------------------------------------------------------
|
| This file contains the main style for the
| webpage 'Comics'.
|
*/

@use "~resources/scss/partials/variables" as *;

main {
    #jumbotron {
        .my_background {
            background-image: url("~resources/assets/images/jumbotron.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 350px;
        }

        #comics-container {
            background-color: $secondary--color;
            font-size: 0.7rem;

            .my_btn,
            .my_title {
                background-color: $complementary--color;
                display: inline-block;
                padding: 0.7rem 0;

                &.my_title {
                    padding-left: 2rem;
                    font-size: 1.2rem;
                    padding-right: 2rem;
                    color: $primary--color;
                }

                &.my_p-absolute {
                    bottom: calc(100% - 1.2rem);
                }
            }

            a.my_btn {
                padding-left: 3rem;
                padding-right: 3rem;
                color: $primary--color;
                font-weight: bold;
                margin-top: 1rem;
            }

            .my_card {
                width: calc(100% / 6 - 2rem);
                margin: 1rem;

                a {
                    color: $primary--color;
                }

                .my_img-container {
                    margin-bottom: 1rem;
                }

                &:hover img {
                    filter: contrast(1.5);
                }
            }
        }
    }

    nav {
        background-color: $complementary--color;

        ul {
            padding: 1.2rem 0;

            img {
                width: 37px;
                margin-right: 1rem;
            }

            li {
                &:hover img {
                    filter: brightness(2);
                }

                a {
                    font-size: 0.7rem;
                    color: $primary--color;
                }
            }
        }
    }
}
