/*
|--------------------------------------------------------------------------
| App SCSS
|--------------------------------------------------------------------------
|
| This file contains all the main scss styles 
| useful for this webpage.
|
*/

// * IMPORTS
@use "~resources/scss/partials/variables.scss" as *;
@use "~resources/scss/general.scss" as *;
@use "~resources/scss/partials/header.scss" as *;
@use "~resources/scss/partials/footer.scss" as *;

// * TAG STYLES

body {
    min-width: 1450px;
    font-family: sans-serif;
}

a:hover {
    font-weight: bold;
}

// * CLASSES STYLES

.my_container {
    padding: 1.2rem 12rem;
}
